.feedbackOptions {
    
    display: flex;
    gap: 30px;
    justify-content: space-around;
  }
  .feedbackOptionsButton {
    margin: 0;
    width: 100px;
    padding: 5px;
    text-align: center;
  }